@import "tailwindcss";

@theme {
  --color-primary: #0096B8;
  --color-secondary: #FFFFFF;
  --color-tertiary: #E77400;

  /* color gradient */
  --color-gradient-primary: #001217;
  --color-gradient-secondary: #00252D;

  /* tamaño de las fuentes */
  --text-subTitle: 26px;
  --text-secondary-size: 22px;
}

html,
body {
  font-family: "Poppins", sans-serif;
  transition: background-color 1000ms;
  background: linear-gradient(180deg, #001217, #00252D);
  width: 100vw;
  height: 100vh;
  color: var(--color-secondary);
  overflow-x: hidden;
  display: grid;
  grid-template-rows: 1fr auto ;
}

