@import 'tailwindcss';

@theme {
  --color-primary: #0096b8;
  --color-secondary: #ffffff;
  --color-tertiary: #e77400;

  /* color gradient */
  --color-gradient-primary: #001217;
  --color-gradient-secondary: #00252d;

  /* tamaño de las fuentes */
  --text-subTitle: 26px;
  --text-secondary-size: 22px;
}


@layer {
  /* ::-webkit-scrollbar { */
  /*   width: 8px; */
  /* } */

  /* ::-webkit-scrollbar-thumb { */
  /*   @apply bg-primary; */
  /*   border-radius: 4px; */
  /* } */

  /* ::-weblit-scrollbar-thumb:hover { */
  /*   background-color: var(--color-primary); */
  /* } */

  /* ::-webkit-scrollbar-track { */
  /*   background-color: var(--color-primary-light); */
  /*   border: 1px solid #fff; */
  /*   border-radius: 3px; */
  /* } */
  /**/
  /* ::-webkit-scrollbar-thumb { */
  /*   background-color: #ff0593a8; */
  /*   border: 1px solid #fff; */
  /*   border-radius: 3px; */
  /* } */
  /**/
  /* ::-webkit-scrollbar-thumb:hover { */
  /*   background-color: var(--color-primary); */
  /* } */

  /* * { */
  /*   scrollbar-width: inherit; */
  /*   scrollbar-color: var(--color-primary) var(--color-secondary); */
  /* } */
}


@keyframes shimmer {
  0% {
    background-position: 0% 0;
  }

  100% {
    background-position: 200% 0;
  }
}

@keyframes shine {
  0% {
    transform: translateX(-100%) rotate(30deg);
  }

  100% {
    transform: translateX(100%) rotate(30deg);
  }
}

@keyframes moveDot {
  0% {
    left: 0%;
    /* Empieza fuera de la barra */
  }

  50% {
    left: 100%;
    /* Termina fuera del lado derecho */
  }

  100% {
    left: 0%;
    /* Vuelve al inicio */
  }
}


html,
body {
  font-family: 'Poppins', sans-serif;
  transition: background-color 1000ms;
  background: linear-gradient(180deg, #001217, #00252d);
  position: relative;
  width: 100dvw;
  height: 100dvh;
  color: var(--color-secondary);
  overflow-x: hidden;
  display: grid;
  place-items: center;
  grid-template-rows: 1fr auto;
  scroll-behavior: smooth;
  background-attachment: fixed;
  z-index: 0;
}

html::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(180deg, #001217, #00252d);
  z-index: -1;
}
