---
import ServiceLayout from 'layouts/ServiceLayout.astro';
---

<ServiceLayout title=" 404 - Página no encontrada - Sv Tech">
  <section class="flex h-screen w-full flex-col items-center justify-center px-4">
    <header class="flex flex-col items-center justify-center gap-2 py-8 text-center">
      <p
        id="attempted-url"
        class="text-tertiary/80 py-8 text-center text-4xl"
        aria-label="URL solicitada"
        aria-live="polite"
      >
      </p>

      <h1 class="text-primary text-8xl font-bold">404</h1>
      <h2 class="text-primary/80 text-6xl font-semibold">Página no encontrada</h2>
    </header>

    <main class="flex flex-col items-center justify-center">
      <p class="text-secondary mb-8 max-w-xl text-center text-xl font-medium">
        Lo sentimos, el sitio al cual intenta acceder no existe, por favor, intenta más tarde o
        visita un sitio válido.
      </p>

      <nav>
        <a
          href="/"
          class="text-gradient-secondary bg-primary border-primary w-30 item-center flex h-10 justify-center rounded-lg border p-2 text-sm font-medium duration-300 hover:scale-105 sm:h-12 sm:w-52 sm:text-lg"
        >
          Ir al inicio
        </a>
      </nav>
    </main>
  </section>
</ServiceLayout>

<script>
  // Captura y visualización de la URL solicitada
  document.addEventListener('astro:page-load', (): void => {
    const urlElement: HTMLElement | null = document.getElementById('attempted-url');

    if (urlElement) urlElement.textContent = `Intentaste acceder a: ${window.location.pathname}`;
  });
</script>
