---
import { questionTitleContact, titleContact, textContact } from 'consts/pagesTitle';
import SchedulesAndContact from './ui/SchedulesAndContact.astro';
import SocialNetworkIcons from './ui/SocialNetworkIcons.astro';
---

<article class="flex w-full flex-col gap-4 text-secondary lg:w-1/2">
  <header class="flex w-full flex-col items-center gap-8 lg:w-[38rem] lg:items-start">
    <mark
      class="inline-block rounded-2xl bg-primary px-4 py-1 text-sm font-medium text-gradient-secondary duration-300 md:text-xl"
    >
      {questionTitleContact}
    </mark>

    <h2
      class="text-center text-2xl font-bold uppercase duration-300 sm:text-4xl md:text-start md:text-5xl"
    >
      {titleContact}
    </h2>
  </header>

  <div
    class="flex w-full flex-col items-center gap-8 p-6 text-center md:p-0 lg:items-start lg:text-start"
  >
    <p class="text-md w-full font-medium duration-300 sm:text-lg md:w-[40rem] md:text-2xl">
      {textContact}
    </p>

    <SchedulesAndContact />
  </div>

  <footer class="flex flex-col gap-4 pt-12">
    <div class="text-center lg:text-start">
      <h4 class="text-medium text-xl text-tertiary">Visita nuestras redes</h4>
    </div>

    <SocialNetworkIcons class="gap-4 sm:gap-8 lg:justify-start" />
  </footer>
</article>
