---
import Logo from 'assets/logo.svg';
---

<footer class="relative flex w-full items-center justify-center bg-black/60">
  <div class="relative my-4 flex w-full max-w-[1200px] flex-col items-center justify-center">
    <div class="flex w-full flex-col justify-between gap-10 md:flex-row md:gap-16">
      <a
        href="/"
        class="flex items-center justify-center rounded-2xl focus:ring-2 focus:ring-primary focus:ring-offset-2 focus:outline-none"
        aria-label="Ir al inicio"
      >
        <Logo class="h-auto w-60 md:w-80" />
      </a>

      <nav
        class="flex flex-col items-center justify-center gap-14 pb-4 sm:flex-row sm:items-start sm:justify-around md:flex-1"
        aria-label="Barra de navegación del footer"
      >
        <div>
          <h4>ENLACES</h4>
          <ul>
            <li><a href="/#home">Home</a></li>
            <li><a href="/#services">Servicios</a></li>
            <li><a href="/#projects">Proyectos</a></li>
            <li><a href="/#about">Nosotros</a></li>
            <li><a href="/#contact">Contacto</a></li>
          </ul>
        </div>

        <div>
          <h4>SERVICIOS</h4>
          <ul>
            <li>Soporte Informático</li>
            <li>Desarrollo Web</li>
            <li>Consultoría TI</li>
            <li>Administración Hosting</li>
            <li>Bases de datos</li>
          </ul>
        </div>

        <div>
          <h4>CONTACTO</h4>
          <ul>
            <li>WhatsApp</li>
            <li>Correo Electrónico</li>
            <li>Linares, Maule. Chile.</li>
          </ul>
        </div>
      </nav>
    </div>

    <div class="relative flex w-full items-center justify-center py-2">
      <span class={`bg-tertiary/40 h-[3px] w-full block relative overflow-hidden`}>
        <div class="dot"></div>
      </span>
    </div>

    <p class="py-2 text-center text-xs text-secondary md:text-sm">
      Copyright &copy; {new Date().getFullYear()} SV TECH
      <span aria-hidden="true" class="hidden md:inline">|</span>
      <br aria-hidden="true" class="block md:hidden" />
      Todos los derechos reservados.
    </p>
  </div>
</footer>

<style>
  nav > div,
  ul {
    text-align: center;
  }

  h4 {
    padding-bottom: 8px;
    color: var(--color-primary);
    font-size: 1.4rem;
    font-weight: 500;
  }

  li {
    transform-origin: center;
    transition-duration: 300ms;
    color: var(--color-secondary);
  }

  li:hover {
    scale: 1.2;
  }

  .dot {
    width: 10px; /* Círculo más grande para sobresalir de la línea */
    height: 10px;
    background-color: var(--color-tertiary);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    animation: moveDot 8s ease-in-out infinite;
    box-shadow:
      0 0 15px var(--color-secondary),
      -10px 0 10px var(--color-primary);
  }

  @media (width >= 40rem) {
    nav > div,
    ul {
      text-align: start;
    }

    li {
      transform-origin: left;
    }

    h4 {
      font-size: 1rem;
    }
  }
</style>
