---
import Logo from 'assets/logo.svg';
---

<footer class="relative flex w-full items-center justify-center bg-black/50">
  <section class="relative my-4 flex w-full max-w-[1200px] flex-col items-center justify-center">
    <div class="flex w-full flex-col justify-between gap-10 md:flex-row md:gap-16">
      <a href="/" class="flex items-center justify-center">
        <Logo class="h-auto w-80" />
      </a>

      <nav
        class="flex flex-col items-center justify-center gap-14 pb-4 sm:flex-row sm:items-start sm:justify-around md:flex-1"
      >
        <ul>
          <h3>ENLACES</h3>
          <li><a href="#home">Home</a></li>
          <li><a href="#services">Servicios</a></li>
          <li><a href="#projects">Proyectos</a></li>
          <li><a href="#about">Nosotros</a></li>
          <li><a href="#contact">Contacto</a></li>
        </ul>

        <ul>
          <h3>SERVICIOS</h3>
          <li>Soporte Informático</li>
          <li>Desarrollo Web</li>
          <li>Consultoría TI</li>
          <li>Administración Hosting</li>
          <li>Bases de datos</li>
        </ul>

        <ul>
          <h3>CONTACTO</h3>
          <li>WhatsApp</li>
          <li>Correo Electrónico</li>
          <li>Linares, Maule. Chile.</li>
        </ul>
      </nav>
    </div>

    <div class="relative flex w-full items-center justify-center py-2">
      <span class={`bg-tertiary/40 h-[3px] w-full block relative overflow-hidden`}>
        <div class="dot"></div>
      </span>
    </div>

    <p class="text-secondary text-center">
      Copyright &copy; {new Date().getFullYear()} SV TECH
      <span aria-hidden="true" class="hidden md:inline">|</span>
      <br aria-hidden="true" class="block md:hidden" />
      Todos los derechos reservados.
    </p>
  </section>
</footer>

<style>
  ul {
    text-align: center;
  }

  h3 {
    padding-button: 8px;
    color: var(--color-primary);
    font-size: 1.4rem;
    font-weight: 500;
  }

  li {
    transform-origin: center;
    transition-duration: 300ms;
    color: var(--color-secondary);
  }

  li:hover {
    scale: 1.2;
  }

  .dot {
    width: 10px; /* Círculo más grande para sobresalir de la línea */
    height: 10px;
    background-color: var(--color-tertiary);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    animation: moveDot 8s ease-in-out infinite;
    box-shadow:
      0 0 15px var(--color-secondary),
      -10px 0 10px var(--color-primary);
  }

  @media (width >= 40rem) {
    ul {
      text-align: start;
    }

    li {
      transform-origin: left;
    }

    h3 {
      font-size: 1rem;
    }
  }
</style>
