---
import NavbarButton from './ui/NavbarButton.astro';
import NavbarDesktop from './ui/NavbarDesktop.astro';
import NavbarMobile from './ui/NavbarMobile.astro';
---

<!-- button for open menu mobile -->
<NavbarButton />

<header
  class="fixed top-0 z-30 mx-auto flex h-20 w-full items-center justify-center duration-300 md:h-24 lg:top-4"
>
  <NavbarDesktop />
  <NavbarMobile />
</header>

<div data-target class="absolute top-[60px]"></div>

<script>
  import { functionHeader } from 'lib/function-header';

  document.addEventListener('astro:page-load', () => {
    functionHeader();
  });
</script>
