---
import ButtonCloseModal from './ui/ButtonCloseModal.astro';
import ProjectTypeBadge from './ui/ProyectTypeBadge.astro';
import ProjectModalAsideInfo from './ui/ProjectModalAsideInfo.astro';
import ProjectModalArticleContent from './ui/ProjectModalArticleContent.astro';

interface Props {
  id?: string;
}

const { id = 'project-modal' } = Astro.props;
---

<!-- Project Modal Overlay -->
<article
  id={id}
  class="fixed inset-0 z-50 hidden items-center justify-center border-b-gradient-primary/50 backdrop-blur-sm"
  role="dialog"
  aria-modal="true"
  aria-labelledby="modal-title"
  aria-describedby="modal-description"
>
  <!-- Modal Container -->
  <div
    id="modal-project-container"
    class="relative mx-4 h-[80vh] w-full max-w-4xl overflow-hidden rounded-2xl bg-white/20 p-1 shadow-md backdrop-blur-sm sm:h-[95vh] sm:max-h-[40rem]"
    role="document"
  >
    <!-- Close Button -->
    <ButtonCloseModal />

    <!-- Modal Content -->
    <div class="flex h-full flex-col rounded-xl">
      <!-- Project Image -->
      <section
        class="relative h-[10rem] w-full flex-shrink-0 overflow-hidden rounded-t-xl md:h-[20rem]"
      >
        <img
          id="modal-project-image"
          src=""
          alt=""
          class="h-full w-full object-cover duration-300 hover:scale-105"
        />
        <!-- Project Type Badge -->
        <div class="absolute top-4 left-4">
          <ProjectTypeBadge divId="modal-project-type-badge" spanId="modal-project-type" />
        </div>
      </section>

      <!-- Scrollable Content Section -->
      <section
        class="flex h-full flex-col gap-4 overflow-y-auto rounded-b-xl bg-gradient-secondary p-4 backdrop-blur-2xl md:flex-row"
      >
        <!-- sidebar info -->
        <ProjectModalAsideInfo />

        <!-- Main content -->
        <ProjectModalArticleContent />
      </section>
    </div>
  </div>
</article>
