---
import ContactInformation from 'components/ContactInformation.astro';
import ContactForm from 'components/ContactForm.astro';
---

<section
  id="contact"
  class="relative flex w-full flex-col items-center justify-center gap-4 px-2 py-40 md:flex-row"
  aria-label="Sección de contacto"
>
  <div class="flex w-full max-w-[1200px] flex-col gap-20 px-2 lg:flex-row lg:gap-4">
    <ContactInformation />
    <ContactForm />
  </div>
</section>
