---
import Icon from 'components/ui/Icon.astro';
import { SOCIAL } from 'consts/social';
---

<section
  id="home"
  class="relative flex min-h-screen w-full max-w-[1200px] flex-col items-center justify-center px-2"
>
  <header class="flex flex-col items-center justify-center gap-2 md:gap-4">
    <p class="text-tertiary text-xs duration-300 sm:text-lg md:text-2xl">
      Transformando ideas en realidades digitales
    </p>

    <h1
      class="text-secondary text-center text-[28px] font-bold uppercase duration-300 sm:text-5xl md:text-6xl"
    >
      Soporte Informático <br />
      <span class="text-primary">Desarrollo Web</span>
    </h1>
  </header>

  <p
    class="text-secondary text-md w-[85%] py-8 text-center font-medium duration-300 sm:text-lg md:w-[75%] md:min-w-[780px] md:text-3xl"
  >
    Comprometidos con la innovación y el uso de las nuevas tecnologías, para entregar soluciones de
    calidad
  </p>

  <main class="flex gap-6 pb-16 sm:gap-12 sm:pb-24">
    {
      SOCIAL.map(({ name, url, label }) => (
        <a href={url} target="_blank" rel="noopener noreferrer" aria-label={label} title={label}>
          <Icon
            name={name}
            class="hover:drop-shadow-primary h-auto w-8 drop-shadow-lg duration-300 hover:scale-110 sm:w-12"
          />
        </a>
      ))
    }
  </main>

  <footer class="flex items-center justify-center gap-4 sm:gap-8">
    <a
      href="#contact"
      class="text-gradient-secondary bg-primary border-primary w-30 item-center flex h-10 justify-center rounded-lg border p-2 text-sm font-medium duration-300 hover:scale-105 sm:h-12 sm:w-52 sm:text-lg"
    >
      Contáctanos
    </a>

    <a
      href="#services"
      class="text-secondary border-primary w-30 flex h-10 items-center justify-center rounded-lg border p-2 text-sm font-medium duration-300 hover:scale-105 sm:h-12 sm:w-52 sm:text-lg"
    >
      Ver Servicios
    </a>
  </footer>
</section>
