---
import SocialNetworkIcons from 'components/ui/SocialNetworkIcons.astro';
---

<section
  id="home"
  class="relative flex min-h-screen w-full max-w-[1200px] flex-col items-center justify-center px-2"
>
  <header class="flex flex-col items-center justify-center gap-2 md:gap-4">
    <mark class="bg-transparent text-xs text-tertiary duration-300 sm:text-lg md:text-2xl">
      Transformando ideas en realidades digitales
    </mark>

    <h1
      class="text-center text-[28px] font-bold text-secondary uppercase duration-300 sm:text-5xl md:text-6xl"
    >
      Soporte Informático
      <span class="block text-primary">Desarrollo Web</span>
    </h1>
  </header>

  <div class="flex w-full flex-col items-center justify-center">
    <p
      class="text-md w-[85%] py-8 text-center font-medium text-secondary duration-300 sm:text-lg md:w-[75%] md:min-w-[780px] md:text-3xl"
    >
      Comprometidos con la innovación y el uso de las nuevas tecnologías, para entregar soluciones
      de calidad
    </p>

    <SocialNetworkIcons class="gap-6 pb-16 sm:gap-12 sm:pb-24" />
  </div>

  <footer class="flex items-center justify-center gap-4 sm:gap-8">
    <a
      href="#contact"
      aria-label="Ir a la sección de contacto"
      class="item-center flex h-10 w-30 justify-center rounded-lg border border-primary bg-primary p-2 text-sm font-medium text-gradient-secondary duration-300 hover:scale-105 focus:ring-2 focus:ring-primary focus:ring-offset-2 focus:outline-none sm:h-12 sm:w-52 sm:text-lg"
    >
      Contáctanos
    </a>

    <a
      href="#services"
      aria-label="Ir a la sección de servicios"
      class="flex h-10 w-30 items-center justify-center rounded-lg border border-primary p-2 text-sm font-medium text-secondary duration-300 hover:scale-105 focus:ring-2 focus:ring-primary focus:ring-offset-2 focus:outline-none sm:h-12 sm:w-52 sm:text-lg"
    >
      Ver Servicios
    </a>
  </footer>
</section>
