---
import { smallTitleWhy, textWhy, titleWhy } from 'consts/pagesTitle';
import WhyList from 'components/ui/WhyList.astro';
---

<section
  id="why"
  class="relative flex w-full flex-col items-center justify-center gap-4 bg-black/60 px-2 py-40"
>
  <div class="flex w-full max-w-[1200px] px-2">
    <article class="z-10 flex w-full flex-col gap-12 lg:w-2/3">
      <header class="flex w-full flex-col items-center gap-5 md:w-[38rem] md:items-start">
        <mark
          class="inline-block rounded-2xl bg-primary px-4 py-1 text-sm font-medium text-gradient-secondary duration-300 md:text-xl"
        >
          {smallTitleWhy}
        </mark>
        <h2
          class="text-center text-2xl font-bold text-secondary uppercase duration-300 sm:text-4xl md:text-start md:text-5xl"
        >
          {titleWhy}
        </h2>
      </header>

      <div>
        <p
          class="text-md w-full text-center font-medium text-secondary duration-300 sm:text-lg md:w-[40rem] md:text-start md:text-2xl"
        >
          {textWhy}
        </p>
      </div>

      <footer>
        <WhyList />
      </footer>
    </article>

    <aside
      class="absolute top-1/2 right-4 bottom-1/2 left-4 flex items-center justify-center md:left-auto lg:relative lg:w-1/3"
    >
      <div
        class="relative overflow-hidden rounded-2xl bg-transparent duration-300 lg:shadow-md lg:shadow-tertiary/80 lg:hover:shadow-lg"
      >
        <div
          class="absolute h-full w-full bg-gradient-primary/80 backdrop-blur-sm duration-300 sm:bg-gradient-primary/70 lg:bg-gradient-primary/0 lg:backdrop-blur-none"
        >
        </div>

        <picture>
          <source srcset="/images/img-why.webp" type="image/webp" />
          <img
            src="/images/img-why.webp"
            alt="Imagen de dos personas estrechando la mano en un contexto de colaboración"
            loading="lazy"
            width="400"
            height="550"
            class="h-auto w-full"
          />
        </picture>
      </div>
    </aside>
  </div>
</section>
