---
import { smallTitleWhy, textWhy, titleWhy } from 'consts/pagesTitle';
import WhyList from 'components/ui/WhyList.astro';
---

<section
  class="relative flex w-full flex-col items-center justify-center gap-4 bg-black/60 px-2 py-40"
>
  <div class="flex w-full max-w-[1200px]">
    <article class="text-secondary z-10 flex flex-col gap-12 lg:w-2/3">
      <header class="flex w-full flex-col items-center gap-5 md:w-[38rem] md:items-start">
        <p
          class="bg-primary text-gradient-secondary inline-block rounded-2xl px-4 py-1 text-sm font-medium duration-300 md:text-xl"
        >
          {smallTitleWhy}
        </p>
        <h2
          class="text-center text-2xl font-bold uppercase duration-300 sm:text-4xl md:text-start md:text-5xl"
        >
          {titleWhy}
        </h2>
      </header>

      <p class="text-md w-full font-medium duration-300 sm:text-lg md:w-[40rem] md:text-2xl">
        {textWhy}
      </p>

      <WhyList />
    </article>

    <aside
      class="absolute right-2 top-1/2 -translate-y-1/2 items-center justify-center lg:relative lg:flex lg:translate-y-0"
    >
      <div
        class="lg:shadow-tertiary/80 relative overflow-hidden rounded-2xl bg-transparent duration-300 lg:shadow-md lg:hover:shadow-lg"
      >
        <div
          class="bg-gradient-primary/80 sm:bg-gradient-primary/70 lg:bg-gradient-primary/0 absolute h-full w-full backdrop-blur-sm duration-300 lg:backdrop-blur-none"
        >
        </div>
        <img
          src="images/img-why.webp"
          alt="imagen de dos personas estrechando la mano"
          loading="lazy"
        />
      </div>
    </aside>
  </div>
</section>
