---
import { ClientRouter } from 'astro:transitions';

import 'styles/global.css';
import { fixedTitle } from 'consts/pagesTitle';
import Header from 'components/Header.astro';
import Footer from 'components/Footer.astro';

interface Props {
  title: string;
}

const { title = fixedTitle } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <!-- preloading web fonts -->
    <link
      rel="preload"
      href="/fonts/poppins-latin-400-normal.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/fonts/poppins-latin-500-normal.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/fonts/poppins-latin-700-normal.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />

    <!-- theme for the top bar of the browser in mobile version -->
    <meta name="theme-color" content="#001217" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-status-bar-style" content="#001217" />

    <meta name="description" content="Soporte Informático y Desarrollo de Aplicaciones Web" />

    <meta property="og:url" content="https://www.svtech.cl" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Sv Tech" />
    <meta
      property="og:description"
      content="Soporte Informático y Desarrollo de Aplicaciones Web"
    />
    <meta property="og:image" content="https://www.svtech.cl/og.png" />
    <meta property="og:locale" content="es_ES" />
    <meta property="og:site_name" content="Sv Tech" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@svtech" />
    <meta name="twitter:creator" content="@svtech" />
    <meta name="twitter:title" content="Soporte Informático y Desarrollo de Aplicaciones Web" />
    <meta
      name="twitter:description"
      content="Evento de boxeo aficionado entre streamers y creadores de contenido, organizado por Ibai Llanos"
    />

    <ClientRouter />
  </head>
  <body>
    <div
      id="smoke-screen"
      class="animate-fade-out pointer-events-none fixed inset-0 z-50 bg-gradient-to-br from-[#00252d] to-[#0096b8]"
    >
    </div>

    <Header />

    <main>
      <slot />
    </main>

    <Footer />
  </body>
</html>

<style>
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #001217, #00252d);
    background-attachment: fixed;
  }

  main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  .animate-fade-out {
    animation: fade-out 0.8s ease-in-out forwards;
  }
</style>
