---
import { COMPANY_VALUES } from 'consts/about';
---

<ul class="text-gradient-secondary flex flex-col gap-5 text-center sm:flex-row">
  {
    COMPANY_VALUES.map((value) => (
      <li class="bg-primary flex items-center justify-center rounded-2xl px-4 py-1 text-lg font-medium duration-300 hover:scale-105 sm:px-3 sm:text-xl">
        {value}
      </li>
    ))
  }
</ul>
