---
import { MENU } from 'consts/menu';
import Logo from 'assets/logo.svg';
import ContactButton from './ContactButton.astro';
import ButtonToggleMenu from './ButtonToggleMenu.astro';
import NavLink from './NavLink.astro';
---

<nav
  id="desktop-menu"
  class=`relative flex w-full items-center p-4 duration-300
    backdrop-blur-3xl bg-gradient-secondary/70 shadow-lg shadow-black 
    md:backdrop-blur-none md:bg-transparent md:shadow-none lg:max-w-[1200px] lg:rounded-2xl`
  role="navigation"
  arial-label="Navegación principal desktop"
>
  <a href="/">
    <Logo
      class="w-[110px] transition-all duration-300 will-change-transform sm:w-[130px] md:w-[150px]"
      width={150}
      height={75}
    />
  </a>

  <!-- web page menu -->
  <ul class="item-end hidden w-full justify-end gap-4 duration-300 md:flex lg:gap-6">
    {MENU.map(({ title, url }) => <NavLink title={title} url={url} />)}
    <ContactButton />
  </ul>

  <ButtonToggleMenu />
</nav>
