---
import { MENU } from 'consts/menu';
import NavLink from './NavLink.astro';
---

<nav
  id="mobile-menu"
  class="bg-gradient-secondary/70 absolute right-0 top-24 h-[100dvh] w-0 backdrop-blur-lg transition-all duration-300 lg:w-0"
  role="navigation"
  aria-label="Navegación secundaria mobile"
  aria-hidden="false"
>
  <ul class="relative flex flex-col gap-4">
    {MENU.map(({ title, url }) => <NavLink title={title} url={url} />)}
  </ul>
</nav>
