<div class="fixed right-8 top-7 z-40 duration-300 md:top-9 lg:hidden">
  <button
    id="navbar-button"
    role="button"
    aria-expanded="false"
    aria-label="Abrir menú de navegación"
    class="group relative flex h-5 w-7 cursor-pointer flex-col items-center justify-between transition duration-300 hover:scale-105 lg:hidden"
  >
    <span
      class="bg-primary group-[.open]:bg-gradient-primary h-1 w-full transform rounded-lg transition duration-300 group-[.open]:translate-y-2 group-[.open]:rotate-45"
    ></span>
    <span
      class="bg-primary group-[.open]:bg-gradient-primary h-1 w-full transform rounded-lg transition duration-300 group-[.open]:opacity-0"
    ></span>
    <span
      class="bg-primary group-[.open]:bg-gradient-primary h-1 w-full transform rounded-lg transition duration-300 group-[.open]:-translate-y-2 group-[.open]:-rotate-45"
    ></span>
  </button>
</div>
