---
import { MENU } from 'consts/menu';
import NavLink from './NavLink.astro';
---

<div
  id="content-navbar-mobile"
  class="bg-primary/20 fixed right-0 top-0 h-full w-0 duration-300 lg:hidden"
>
  <!-- nav mobile -->
  <nav
    id="navbar-mobile"
    role="navigation"
    aria-label="barra de navegación mobile"
    aria-hidden="false"
    aria-expanded="false"
    class="bg-primary/70 fixed right-0 top-0 h-full w-0 backdrop-blur-2xl duration-300"
  >
    <ul class="mt-16">
      {MENU.map(({ title, url }) => <NavLink title={title} url={url} />)}
    </ul>
  </nav>
</div>
