---
interface Props {
  title: string;
  url: string;
}

const { title, url } = Astro.props;
---

<li class="relative ml-6 flex md:ml-12 md:justify-start lg:ml-0">
  <a
    class="text-gradient-primary lg:text-primary hover:text-secondary relative flex items-center justify-center p-2 text-xl font-semibold duration-300 hover:scale-105 lg:text-lg"
    href={url}
  >
    {title}
  </a>
</li>

<style>
  a::before {
    content: '';
    position: absolute;
    bottom: 8px;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: var(--color-gradient-primary);
    transform: translateX(-50%);
    transform-origin: center;
    transition: width 300ms ease-in-out;
  }

  a:hover::before {
    width: 90%;
  }

  @media (width >= 48rem) {
    a::before {
      background-color: var(--color-primary);
    }
  }
</style>
