<!-- <article id="article-content" class="modal-scroll flex-1 space-y-4 overflow-y-auto"> -->
<article id="article-content" class="flex-1 space-y-4">
  <!-- Project title -->
  <header>
    <h2 id="modal-title" class="text-xl font-bold capitalize md:text-2xl">
      <!-- Title with be injected here -->
    </h2>
  </header>

  <!-- Project description -->
  <section>
    <h3
      id="modal-title-description"
      class="text-[16px] font-medium tracking-wide uppercase sm:text-lg"
    >
      <!-- title description will be injected here -->
    </h3>
    <p id="modal-full-description" class="text-sm leading-relaxed font-medium text-secondary">
      <!-- Full description will be injected here -->
    </p>
  </section>

  <!-- Feature (if available) -->
  <section id="modal-features-container" class="hidden">
    <h3 class="text-[16px] font-medium tracking-wide uppercase sm:text-lg">
      Características principales
    </h3>
    <ul id="modal-features" class="space-y-1 text-secondary">
      <!-- Features will be injected here -->
    </ul>
  </section>

  <!-- Challegnes (if available) -->
</article>
