<article id="article-content" class="h-full w-full flex-1 space-y-4">
  <!-- Project title -->
  <header>
    <h2 id="modal-title" class="text-xl font-bold capitalize md:text-2xl">
      <!-- Title with be injected here -->
    </h2>
  </header>

  <!-- Project description -->
  <section>
    <h3 id="modal-title-description" class="text-lg font-medium tracking-wide uppercase">
      <!-- title description will be injected here -->
    </h3>
    <p id="modal-full-description" class="text-sm leading-relaxed font-medium text-secondary">
      <!-- Full description will be injected here -->
    </p>
  </section>

  <!-- Feature (if available) -->

  <!-- Challegnes (if available) -->
</article>
