---
import Icon from './Icon.astro';
---

<button
  type="button"
  id="scroll-to-top"
  class="group pointer-events-none fixed right-6 bottom-6 z-50 flex h-10 w-10 cursor-pointer items-center justify-center rounded-full bg-primary opacity-0 shadow-lg duration-300 hover:shadow-tertiary/40 focus:ring-2 focus:ring-primary focus:ring-offset-2 focus:outline-none sm:h-14 sm:w-14"
  aria-label="Volver al inicio"
  tabindex="-1"
>
  <Icon name="upArrow" class="arrow-hover h-auto w-6 sm:w-8" />
</button>

<style>
  @keyframes arrowFloat {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-8px);
    }
  }

  .hover-scale:hover {
    transform: scale(1.1);
  }

  @media (min-width: 640px) {
    .group:hover .arrow-hover {
      animation: arrowFloat 1.5s ease-in-out infinite;
    }
  }
</style>

<script>
  const scrollToTopBtn = document.getElementById('scroll-to-top');
  const servicesSection = document.getElementById('services');

  if (scrollToTopBtn && servicesSection) {
    const showButtonThreshold = servicesSection.offsetTop;
    let ticking = false;

    function toggleButton() {
      const scrollY = window.scrollY;

      if (scrollY >= showButtonThreshold) {
        scrollToTopBtn?.classList.remove('opacity-0', 'pointer-events-none');
        scrollToTopBtn?.classList.add('opacity-100', 'pointer-events-auto');
        scrollToTopBtn?.removeAttribute('tabindex');
      } else {
        scrollToTopBtn?.classList.add('opacity-0', 'pointer-events-none');
        scrollToTopBtn?.classList.remove('opacity-100', 'pointer-events-auto');
        scrollToTopBtn?.setAttribute('tabindex', '-1');
      }

      ticking = false;
    }

    function onScroll() {
      if (!ticking) {
        requestAnimationFrame(toggleButton);
        ticking = true;
      }
    }

    function scrollToTop() {
      window.scrollTo({
        top: 0,
        behavior: 'smooth',
      });
    }

    // // Event listeners
    window.addEventListener('scroll', onScroll, { passive: true });
    scrollToTopBtn.addEventListener('click', scrollToTop);

    // Check initial state
    toggleButton();
  }
</script>
