---
import Icon from './Icon.astro';
import { WHY_BENEFITS } from 'consts/why';
---

<ul class="text-secondary flex flex-col gap-5 pl-8 md:pl-0">
  {
    WHY_BENEFITS.map((benefit) => (
      <li class="text-md flex origin-left items-center gap-2 font-medium duration-300 hover:scale-105 sm:text-2xl">
        <Icon name="check" class="h-auto w-8 sm:w-12" aria-hidden="true" />
        {benefit}
      </li>
    ))
  }
</ul>
